set (autostart ${PLUGIN_ANALYTICS_AUTOSTART})
set (preconditions Platform)
set (callsign "org.rdk.Analytics")

if(PLUGIN_ANALYTICS_STARTUPORDER)
set (startuporder ${PLUGIN_ANALYTICS_STARTUPORDER})
endif()

map()
    kv(eventsmap, ${PLUGIN_ANALYTICS_EVENTS_MAP})
    kv(loggername, ${PLUGIN_ANALYTICS_LOGGER_NAME})
    kv(loggerversion, ${PLUGIN_ANALYTICS_LOGGER_VERSION})
    kv(backendlib, ${PLUGIN_ANALYTICS_BACKEND_LIBRARY_NAME})
end()
ans(configuration)
