set (autostart ${PLUGIN_ANALYTICS_AUTOSTART})
set (preconditions Platform)
set (callsign "org.rdk.Analytics")

if(PLUGIN_ANALYTICS_STARTUPORDER)
set (startuporder ${PLUGIN_ANALYTICS_STARTUPORDER})
endif()

map()
    kv(deviceosname ${PLUGIN_ANALYTICS_DEVICE_OS_NAME})
    kv(eventsmap, ${PLUGIN_ANALYTICS_EVENTS_MAP})
end()
ans(configuration)


if(PLUGIN_ANALYTICS_SIFT_BACKEND_ENABLED)
    map()
    kv(schema2 ${PLUGIN_ANALYTICS_SIFT_2_0_ENABLED})
    kv(commonschema ${PLUGIN_ANALYTICS_SIFT_COMMON_SCHEMA})
    kv(env ${PLUGIN_ANALYTICS_SIFT_ENV})
    kv(productname ${PLUGIN_ANALYTICS_SIFT_PRODUCT_NAME})
    kv(loggername ${PLUGIN_ANALYTICS_SIFT_LOGGER_NAME})
    kv(loggerversion ${PLUGIN_ANALYTICS_SIFT_LOGGER_VERSION})
    kv(platformdefault ${PLUGIN_ANALYTICS_SIFT_PLATFORM_DEFAULT})
    kv(maxrandomisationwindowtime, ${PLUGIN_ANALYTICS_SIFT_MAX_RANDOMISATION_WINDOW_TIME})
    kv(maxeventsinpost, ${PLUGIN_ANALYTICS_SIFT_MAX_EVENTS_IN_POST})
    kv(maxretries, ${PLUGIN_ANALYTICS_SIFT_MAX_RETRIES})
    kv(minretryperiod, ${PLUGIN_ANALYTICS_SIFT_MIN_RETRY_PERIOD})
    kv(maxretryperiod, ${PLUGIN_ANALYTICS_SIFT_MAX_RETRY_PERIOD})
    kv(exponentialperiodicfactor, ${PLUGIN_ANALYTICS_SIFT_EXPONENTIAL_PERIODIC_FACTOR})
    kv(storepath, ${PLUGIN_ANALYTICS_SIFT_STORE_PATH})
    kv(eventslimit, ${PLUGIN_ANALYTICS_SIFT_STORE_EVENTS_LIMIT})
    kv(url, ${PLUGIN_ANALYTICS_SIFT_URL})
    end()
    ans(siftobject)
    map_append(${configuration} sift ${siftobject})
endif()