set(autostart ${PLUGIN_MESSAGECONTROL_AUTOSTART})
map()
  
  if(PLUGIN_MESSAGECONTROL_CONSOLE)
    kv(console ${PLUGIN_MESSAGECONTROL_CONSOLE})
  endif()

  if(PLUGIN_MESSAGECONTROL_SYSLOG)
    kv(syslog ${PLUGIN_MESSAGECONTROL_SYSLOG})
  endif()

  if(PLUGIN_MESSAGECONTROL_FILENAME)
    kv(filepath ${PLUGIN_MESSAGECONTROL_FILENAME})
  endif()

  if(PLUGIN_MESSAGECONTROL_ABBREVIATED)
    kv(abbreviated ${PLUGIN_MESSAGECONTROL_ABBREVIATED})
  endif()

  kv(maxexportconnections ${PLUGIN_MESSAGECONTROL_MAX_EXPORTCONNECTIONS})

  if(PLUGIN_MESSAGECONTROL_REMOTE)
  key(remote)
  map()
    kv(port ${PLUGIN_MESSAGECONTROL_PORT})
    kv(binding ${PLUGIN_MESSAGECONTROL_BINDING})
  end()
  endif()
  
end()
ans(configuration)
