set(callsign "org.rdk.TextToSpeech")
set(preconditions Platform)
set(autostart ${PLUGIN_TEXTTOSPEECH_AUTOSTART})

map()
    kv(mode ${PLUGIN_TEXTTOSPEECH_MODE})
end()
ans(rootobject)

map()
    kv(en-US ${PLUGIN_TEXTTOSPEECH_VOICE_FOR_EN})
    kv(es-MX ${PLUGIN_TEXTTOSPEECH_VOICE_FOR_ES})
    kv(fr-CA ${PLUGIN_TEXTTOSPEECH_VOICE_FOR_FR})
    kv(en-GB ${PLUGIN_TEXTTOSPEECH_VOICE_FOR_GB})
    kv(de-DE ${PLUGIN_TEXTTOSPEECH_VOICE_FOR_DE})
    kv(it-IT ${PLUGIN_TEXTTOSPEECH_VOICE_FOR_IT})
end()
ans(voices)

map()
    kv(endpoint ${PLUGIN_TEXTTOSPEECH_ENDPOINT})
    kv(secureendpoint ${PLUGIN_TEXTTOSPEECH_SECURE_ENDPOINT})
    kv(language ${PLUGIN_TEXTTOSPEECH_LANGUAGE})
    kv(volume ${PLUGIN_TEXTTOSPEECH_VOLUME})
    kv(rate ${PLUGIN_TEXTTOSPEECH_RATE})
end()
ans(configuration)

map_append(${configuration} voices ${voices})
map_append(${configuration} root ${rootobject})
