set (autostart false)

set(preconditions Graphics Internet)

map()
    kv(outofprocess true)
    if(PLUGIN_AMAZON_USER)
        kv(user ${PLUGIN_AMAZON_USER})
    endif()
    if(PLUGIN_AMAZON_GROUP)
        kv(group ${PLUGIN_AMAZON_GROUP})
    endif()
end()
ans(rootobject)

map()
    kv(url ${PLUGIN_AMAZON_STARTURL})
    kv(useragent ${PLUGIN_AMAZON_USERAGENT})
    kv(injectedbundle "libWPEInjectedBundle${CMAKE_SHARED_LIBRARY_SUFFIX}")
    kv(transparent ${PLUGIN_AMAZON_TRANSPARENT})
    kv(compositor "noaa")
    kv(inspector "0.0.0.0:9999")
    kv(fps true)
    kv(cursor false)
    key(bundle)
    map()
         key(hawaii)
         map()
         kv(displayWidth 1280)
         kv(displayHeight 720)
         kv(panelWidth 1280)
         kv(panelHeight 720)
         kv(proxyHost "")
         kv(proxyPort 0)
         kv(proxyUsername "")
         kv(proxyPassword "")
         kv(bandwidthEstimateFilePath "/tmp/BandwidthEstimate.txt")
         kv(CADirectoryPath "/etc/ssl/certs/")    
         kv(CABundleFileName "ca-certificates.crt")
         kv(supportsSurroundSound true)
         kv(supportsAudioCodecSwitching true)
         kv(dolbyDigitalAudioPassthroughOnly false)
         kv(supportsHEVC false)
         kv(supportsHEVC10Bits false)
         kv(supportsCVBR true)
         kv(supportsIntraChunkSeeking false)
         kv(hasExternalOutput true)
         kv(hasPlatformVideoNode true)
         kv(supportsCompressedContentEncoding true)
         kv(supportsHexEncodedManifest true)
         kv(hdcpMajorVersion 2)
         kv(hdcpMinorVersion 2)
         kv(supportsUHD false)
         kv(supportsHDR false)
         kv(hdrFlags 0)
         kv(supportsOLED true)
         kv(manufacturer "Broadcom")
         kv(modelName "2952")
         kv(platformPackageVersion "")
         kv(deviceMode "")
         kv(deviceLanguage "en-US")
         kv(deviceTypeId "A71I8788P1ZV8")
         kv(firmwareVersion "1.0")
         kv(chipsetName "BCM2837")
         kv(ethernetDevice "eth0")
         kv(wifiDevice "wlan0")
         kv(fragmentCacheSizeMB "100")
         kv(updateFrequency "30")
         kv(fragmentCacheMountPoint "/tmp/")
         key(overrideBySystem)
            map()
            kv(firmwareVersion true)
            kv(chipsetName true)
            kv(displayResolution true)
            kv(panelResolution true)
            kv(supportsSurroundSound true)
            kv(dolbyDigitalAudioPassthroughOnly true)
            kv(supportsUHD false)
            kv(supportsHDR false)
            kv(supportsOLED true)
            kv(supportsHEVC false)
            kv(hdcpVersion true)
            end()
         end()
    end()
    kv(touch false)
    kv(msebuffers "audio:2m,video:15m,text:1m")
    kv(memoryprofile ${PLUGIN_WEBKITBROWSER_MEMORYPROFILE})
    kv(memorypressure ${PLUGIN_WEBKITBROWSER_MEMORYPRESSURE})
    kv(mediadiskcache ${PLUGIN_WEBKITBROWSER_MEDIADISKCACHE})
    kv(diskcache ${PLUGIN_WEBKITBROWSER_DISKCACHE})
    kv(xhrcache ${PLUGIN_WEBKITBROWSER_XHRCACHE})
    kv(webgl false)
    kv(windowclose true)
    kv(threadedpainting ${PLUGIN_WEBKITBROWSER_THREADEDPAINTING})
    if(PLUGIN_WEBKITBROWSER_CLIENTIDENTIFIER)
        kv(clientidentifier ${PLUGIN_WEBKITBROWSER_CLIENTIDENTIFIER})
    endif()
    if(PLUGIN_WEBKITBROWSER_LOCALSTORAGE)
        kv(localstorage ${PLUGIN_WEBKITBROWSER_LOCALSTORAGE})
    endif()
    if(PLUGIN_WEBKITBROWSER_COOKIESTORAGE)
        kv(cookiestorage ${PLUGIN_WEBKITBROWSER_COOKIESTORAGE})
    endif()
    if(PLUGIN_WEBKITBROWSER_PSTOFFSET)
        kv(ptsoffset ${PLUGIN_WEBKITBROWSER_PSTOFFSET})
    endif()
end()
ans(configuration)

map_append(${configuration} root ${rootobject})
