set(autostart ${PLUGIN_APPS_AUTOSTART})

set(preconditions Graphics Internet)

if(PLUGIN_APPS_STARTUPORDER)
set (startuporder ${PLUGIN_APPS_STARTUPORDER})
endif()

map()
    kv(mode ${PLUGIN_APPS_MODE})
    kv(locator lib${PLUGIN_WEBKITBROWSER_IMPLEMENTATION}.so)
end()
ans(rootobject)

map()
    kv(url "about:blank")
    if(PLUGIN_APPS_USERAGENT)
        semicolon_safe_string(PLUGIN_APPS_USERAGENT)
        kv(useragent ${PLUGIN_APPS_USERAGENT})
    endif()
    if(NOT WEBKIT_GLIB_API)
        kv(injectedbundle "libWPEInjectedBundle${CMAKE_SHARED_LIBRARY_SUFFIX}")
    else()
        kv(extensiondir ${PLUGIN_WEBKITBROWSER_EXTENSION_DIRECTORY})
    endif()
    kv(transparent ${PLUGIN_WEBKITBROWSER_TRANSPARENT})
    kv(compositor "noaa")
    kv(inspector ${PLUGIN_APPS_WEBINSPECTOR_ADDRESS})
    kv(fps true)
    kv(cursor false)
    kv(touch false)
    kv(msebuffers ${PLUGIN_APPS_MSEBUFFERS})
    kv(thunderdecryptorpreference ${PLUGIN_WEBKITBROWSER_THUNDER_DECRYPTOR_PREFERENCE})
    kv(memoryprofile ${PLUGIN_WEBKITBROWSER_MEMORYPROFILE})
    kv(mediacontenttypesrequiringhardwaresupport ${PLUGIN_WEBKITBROWSER_MEDIA_CONTENT_TYPES_REQUIRING_HARDWARE_SUPPORT})
    kv(mediadiskcache ${PLUGIN_WEBKITBROWSER_MEDIADISKCACHE})
    kv(diskcache ${PLUGIN_WEBKITBROWSER_DISKCACHE})
    kv(xhrcache ${PLUGIN_WEBKITBROWSER_XHRCACHE})
    kv(webgl ${PLUGIN_APPS_WEBGL})
    kv(threadedpainting ${PLUGIN_WEBKITBROWSER_THREADEDPAINTING})
    if(PLUGIN_WEBKITBROWSER_HEIGHT)
        kv(height ${PLUGIN_WEBKITBROWSER_HEIGHT})
    endif()
    if(PLUGIN_WEBKITBROWSER_WIDTH)
        kv(width ${PLUGIN_WEBKITBROWSER_WIDTH})
    endif()
    if(PLUGIN_WEBKITBROWSER_CLIENTIDENTIFIER)
        kv(clientidentifier ${PLUGIN_WEBKITBROWSER_CLIENTIDENTIFIER})
    endif()
    kv(localstorageenabled ${PLUGIN_APPS_LOCALSTORAGE_ENABLE})
    if(PLUGIN_WEBKITBROWSER_LOCALSTORAGE)
        kv(localstorage ${PLUGIN_WEBKITBROWSER_LOCALSTORAGE})
    endif()
    if(PLUGIN_WEBKITBROWSER_COOKIESTORAGE)
        kv(cookiestorage ${PLUGIN_WEBKITBROWSER_COOKIESTORAGE})
    endif()
    if(PLUGIN_WEBKITBROWSER_WINDOWCLOSE)
        kv(windowclose ${PLUGIN_WEBKITBROWSER_WINDOWCLOSE})
    endif()
    if(PLUGIN_WEBKITBROWSER_ALTERNATIVE_EXEC_PATH)
        kv(execpath ${PLUGIN_WEBKITBROWSER_ALTERNATIVE_EXEC_PATH})
    endif()
    if(PLUGIN_WEBKITBROWSER_PTSOFFSET)
        kv(ptsoffset ${PLUGIN_WEBKITBROWSER_PTSOFFSET})
    endif()
    if(PLUGIN_WEBKITBROWSER_HTTP_PROXY)
        kv(proxy ${PLUGIN_WEBKITBROWSER_HTTP_PROXY})
    endif()
    if(PLUGIN_WEBKITBROWSER_HTTP_PROXY_EXCLUSION)
        kv(proxyexclusion ${PLUGIN_WEBKITBROWSER_HTTP_PROXY_EXCLUSION})
    endif()
end()
ans(configuration)

map_append(${configuration} root ${rootobject})

map()
if(PLUGIN_APPS_ENABLE_JIT)
    kv(useJIT true)
else()
    kv(useJIT false)
endif()
if(PLUGIN_APPS_ENABLE_DFG)
    kv(useDFG true)
else()
    kv(useDFG false)
endif()
end()
ans(javascriptsettings)
map_append(${configuration} javascript ${javascriptsettings})

map()
if(PLUGIN_APPS_MEMORYPRESSURE_WEBPROCESS_SETTINGS_LIMIT OR (PLUGIN_APPS_MEMORYPRESSURE_WEBPROCESS_SETTINGS_GPU_LIMIT AND PLUGIN_APPS_MEMORYPRESSURE_WEBPROCESS_SETTINGS_GPU_FILE) OR PLUGIN_APPS_MEMORYPRESSURE_WEBPROCESS_SETTINGS_POLLINTERVAL)
    key(webprocesssettings)
    map()
if(PLUGIN_APPS_MEMORYPRESSURE_WEBPROCESS_SETTINGS_LIMIT)
        kv(limit ${PLUGIN_APPS_MEMORYPRESSURE_WEBPROCESS_SETTINGS_LIMIT})
endif()
if(PLUGIN_APPS_MEMORYPRESSURE_WEBPROCESS_SETTINGS_GPU_LIMIT AND PLUGIN_APPS_MEMORYPRESSURE_WEBPROCESS_SETTINGS_GPU_FILE)
        kv(gpulimit ${PLUGIN_APPS_MEMORYPRESSURE_WEBPROCESS_SETTINGS_GPU_LIMIT})
        kv(gpufile ${PLUGIN_APPS_MEMORYPRESSURE_WEBPROCESS_SETTINGS_GPU_FILE})
endif()
if(PLUGIN_APPS_MEMORYPRESSURE_WEBPROCESS_SETTINGS_POLLINTERVAL)
        kv(pollinterval ${PLUGIN_APPS_MEMORYPRESSURE_WEBPROCESS_SETTINGS_POLLINTERVAL})
endif()
    end()
endif()

if(PLUGIN_APPS_MEMORYPRESSURE_NETWORKPROCESS_SETTINGS_LIMIT OR PLUGIN_APPS_MEMORYPRESSURE_NETWORKPROCESS_SETTINGS_POLLINTERVAL)
    key(networkprocesssettings)
    map()
if(PLUGIN_APPS_MEMORYPRESSURE_NETWORKPROCESS_SETTINGS_LIMIT)
        kv(limit ${PLUGIN_APPS_MEMORYPRESSURE_NETWORKPROCESS_SETTINGS_LIMIT})
endif()
if(PLUGIN_APPS_MEMORYPRESSURE_NETWORKPROCESS_SETTINGS_POLLINTERVAL)
        kv(pollinterval ${PLUGIN_APPS_MEMORYPRESSURE_NETWORKPROCESS_SETTINGS_POLLINTERVAL})
endif()
    end()
endif()
end()
ans(memory)

map_append(${configuration} memory ${memory})
