set(autostart ${PLUGIN_HTML_APP_AUTOSTART})
set(resumed true)
set(preconditions Graphics)

if(PLUGIN_HTML_APP_STARTUPORDER)
set (startuporder ${PLUGIN_HTML_APP_STARTUPORDER})
endif()

if(PLUGIN_HTML_APP_PERSISTENTPATHPOSTFIX)
  set(persistentpathpostfix ${PLUGIN_HTML_APP_PERSISTENTPATHPOSTFIX})
endif()

map()
    kv(mode ${PLUGIN_HTML_APP_MODE})
    kv(locator lib${PLUGIN_WEBKITBROWSER_IMPLEMENTATION}.so)
    if(PLUGIN_WEBKITBROWSER_USER)
        kv(user ${PLUGIN_WEBKITBROWSER_USER})
    endif()
    if(PLUGIN_WEBKITBROWSER_GROUP)
        kv(group ${PLUGIN_WEBKITBROWSER_GROUP})
    endif()
end()
ans(rootobject)

map()
    kv(url "about:blank")
    if(PLUGIN_HTML_APP_USERAGENT)
        semicolon_safe_string(PLUGIN_HTML_APP_USERAGENT)
        kv(useragent ${PLUGIN_HTML_APP_USERAGENT})
    endif()
    if(NOT WEBKIT_GLIB_API)
        kv(injectedbundle "libWPEInjectedBundle${CMAKE_SHARED_LIBRARY_SUFFIX}")
    else()
        kv(extensiondir ${PLUGIN_WEBKITBROWSER_EXTENSION_DIRECTORY})
    endif()
    kv(transparent ${PLUGIN_WEBKITBROWSER_TRANSPARENT})
    kv(compositor ${PLUGIN_HTML_APP_COMPOSITOR})
    kv(inspector ${PLUGIN_HTML_APP_WEBINSPECTOR_ADDRESS})
    kv(fps true)
    kv(cursor false)
    kv(touch false)
    kv(msebuffers ${PLUGIN_WEBKITBROWSER_MSEBUFFERS})
    kv(memoryprofile ${PLUGIN_WEBKITBROWSER_MEMORYPROFILE})
    kv(mediadiskcache ${PLUGIN_WEBKITBROWSER_MEDIADISKCACHE})
    kv(diskcache ${PLUGIN_WEBKITBROWSER_DISKCACHE})
    kv(xhrcache ${PLUGIN_WEBKITBROWSER_XHRCACHE})
    kv(webgl ${PLUGIN_WEBKITBROWSER_WEBGL})
    kv(threadedpainting ${PLUGIN_WEBKITBROWSER_THREADEDPAINTING})
    if(PLUGIN_HTML_APP_DISKCACHEDIR)
      kv(diskcachedir ${PLUGIN_HTML_APP_DISKCACHEDIR})
    endif()
    if(PLUGIN_WEBKITBROWSER_HEIGHT)
        kv(height ${PLUGIN_WEBKITBROWSER_HEIGHT})
    endif()
    if(PLUGIN_WEBKITBROWSER_WIDTH)
        kv(width ${PLUGIN_WEBKITBROWSER_WIDTH})
    endif()
    if(PLUGIN_HTML_APP_CLIENTIDENTIFIER)
        kv(clientidentifier ${PLUGIN_HTML_APP_CLIENTIDENTIFIER})
    endif()
    kv(localstorageenabled ${PLUGIN_HTML_APP_LOCALSTORAGE_ENABLE})

    if(PLUGIN_HTML_APP_LOCALSTORAGE)
        kv(localstorage ${PLUGIN_HTML_APP_LOCALSTORAGE})
    endif()
    if(PLUGIN_HTML_APP_LOCALSTORAGESIZE)
        kv(localstoragesize ${PLUGIN_HTML_APP_LOCALSTORAGESIZE})
    endif()
    if(PLUGIN_HTML_APP_COOKIESTORAGE)
        kv(cookiestorage ${PLUGIN_HTML_APP_COOKIESTORAGE})
    endif()
    if(PLUGIN_HTML_APP_INDEXEDDB_ENABLE)
        kv(indexeddbenabled ${PLUGIN_HTML_APP_INDEXEDDB_ENABLE})
    endif()
    if(PLUGIN_HTML_APP_INDEXEDDB_PATH)
        kv(indexeddbpath ${PLUGIN_HTML_APP_INDEXEDDB_PATH})
    endif()
    if(PLUGIN_HTML_APP_INDEXEDDB_SIZE)
        kv(indexeddbsize ${PLUGIN_HTML_APP_INDEXEDDB_SIZE})
    endif()
    if(PLUGIN_HTML_APP_WINDOWCLOSE)
        kv(windowclose ${PLUGIN_HTML_APP_WINDOWCLOSE})
    endif()
    if(PLUGIN_WEBKITBROWSER_CLIENT_CERT AND PLUGIN_WEBKITBROWSER_CLIENT_CERT_KEY)
        kv(clientcert ${PLUGIN_WEBKITBROWSER_CLIENT_CERT})
        kv(clientcertkey ${PLUGIN_WEBKITBROWSER_CLIENT_CERT_KEY})
    endif()
    if(PLUGIN_HTML_APP_LOGTOSYSTEMCONSOLE)
        kv(logtosystemconsoleenabled ${PLUGIN_HTML_APP_LOGTOSYSTEMCONSOLE})
    endif()
    if(DEFINED PLUGIN_HTML_APP_SECURE)
        kv(secure ${PLUGIN_HTML_APP_SECURE})
    endif()
    kv(watchdogchecktimeoutinseconds 10)
    kv(watchdoghangthresholdtinseconds 60)
    kv(loadblankpageonsuspendenabled true)
end()
ans(configuration)

map_append(${configuration} root ${rootobject})

map()
if(PLUGIN_HTML_APP_MEMORYPRESSURE_WEBPROCESSLIMIT)
    kv(webprocesslimit ${PLUGIN_HTML_APP_MEMORYPRESSURE_WEBPROCESSLIMIT})
endif()
if(PLUGIN_HTML_APP_MEMORYPRESSURE_NETWORKPROCESSLIMIT)
    kv(networkprocesslimit ${PLUGIN_HTML_APP_MEMORYPRESSURE_NETWORKPROCESSLIMIT})
endif()
end()
ans(memory)
map_append(${configuration} memory ${memory})
