set (autostart ${PLUGIN_LIGHTNING_APP_AUTOSTART})

set(preconditions Graphics Internet)

if(PLUGIN_LIGHTNING_APP_PERSISTENTPATHPOSTFIX)
  set(persistentpathpostfix ${PLUGIN_LIGHTNING_APP_PERSISTENTPATHPOSTFIX})
endif()

map()
    kv(outofprocess true)
    kv(locator lib${PLUGIN_WEBKITBROWSER_IMPLEMENTATION}.so)
    if(PLUGIN_WEBKITBROWSER_USER)
        kv(user ${PLUGIN_WEBKITBROWSER_USER})
    endif()
    if(PLUGIN_WEBKITBROWSER_GROUP)
        kv(group ${PLUGIN_WEBKITBROWSER_GROUP})
    endif()
end()
ans(rootobject)

map()
    kv(url "about:blank")
    if(PLUGIN_LIGHTNING_APP_USERAGENT)
        kv(useragent ${PLUGIN_LIGHTNING_APP_USERAGENT})
    endif()
    kv(injectedbundle "libWPEInjectedBundle${CMAKE_SHARED_LIBRARY_SUFFIX}")
    kv(transparent ${PLUGIN_WEBKITBROWSER_TRANSPARENT})
    kv(compositor "noaa")
    kv(inspector ${PLUGIN_LIGHTNING_APP_WEBINSPECTOR_ADDRESS})
    kv(fps true)
    kv(cursor false)
    kv(touch false)
    kv(msebuffers ${PLUGIN_WEBKITBROWSER_MSEBUFFERS})
    kv(memoryprofile ${PLUGIN_WEBKITBROWSER_MEMORYPROFILE})
    kv(memorypressure ${PLUGIN_WEBKITBROWSER_MEMORYPRESSURE})
    kv(mediadiskcache ${PLUGIN_WEBKITBROWSER_MEDIADISKCACHE})
    kv(diskcache ${PLUGIN_WEBKITBROWSER_DISKCACHE})
    kv(xhrcache ${PLUGIN_WEBKITBROWSER_XHRCACHE})
    kv(noncompositedwebgl true)
    kv(webgl ${PLUGIN_WEBKITBROWSER_WEBGL})
    kv(threadedpainting ${PLUGIN_WEBKITBROWSER_THREADEDPAINTING})
    if (PLUGIN_LIGHTNING_APP_DISKCACHEDIR)
      kv(diskcachedir ${PLUGIN_LIGHTNING_APP_DISKCACHEDIR})
    endif()
    if(PLUGIN_WEBKITBROWSER_HEIGHT)
        kv(height ${PLUGIN_WEBKITBROWSER_HEIGHT})
    endif()
    if(PLUGIN_WEBKITBROWSER_WIDTH)
        kv(width ${PLUGIN_WEBKITBROWSER_WIDTH})
    endif()
    if(PLUGIN_LIGHTNING_APP_CLIENTIDENTIFIER)
        kv(clientidentifier ${PLUGIN_LIGHTNING_APP_CLIENTIDENTIFIER})
    endif()
    kv(localstorageenabled ${PLUGIN_LIGHTNING_APP_LOCALSTORAGE_ENABLE})
    if(PLUGIN_LIGHTNING_APP_LOCALSTORAGE)
        kv(localstorage ${PLUGIN_LIGHTNING_APP_LOCALSTORAGE})
    endif()
    if(PLUGIN_LIGHTNING_APP_LOCALSTORAGESIZE)
        kv(localstoragesize ${PLUGIN_LIGHTNING_APP_LOCALSTORAGESIZE})
    endif()
    if(PLUGIN_LIGHTNING_APP_COOKIESTORAGE)
        kv(cookiestorage ${PLUGIN_LIGHTNING_APP_COOKIESTORAGE})
    endif()
    if(PLUGIN_LIGHTNING_APP_WINDOWCLOSE)
        kv(windowclose ${PLUGIN_LIGHTNING_APP_WINDOWCLOSE})
    endif()
    if(PLUGIN_WEBKITBROWSER_CLIENT_CERT AND PLUGIN_WEBKITBROWSER_CLIENT_CERT_KEY)
        kv(clientcert ${PLUGIN_WEBKITBROWSER_CLIENT_CERT})
        kv(clientcertkey ${PLUGIN_WEBKITBROWSER_CLIENT_CERT_KEY})
    endif()
    if(PLUGIN_LIGHTNING_APP_LOGTOSYSTEMCONSOLE)
        kv(logtosystemconsoleenabled ${PLUGIN_LIGHTNING_APP_LOGTOSYSTEMCONSOLE})
    endif()
    if(DEFINED PLUGIN_LIGHTNING_APP_SECURE)
        kv(secure ${PLUGIN_LIGHTNING_APP_SECURE})
    endif()
    kv(watchdogchecktimeoutinseconds 10)
    kv(watchdoghangthresholdtinseconds 60)
    kv(loadblankpageonsuspendenabled true)
end()
ans(configuration)

map_append(${configuration} root ${rootobject})
