set(autostart ${PLUGIN_SEARCH_AND_DISCOVERY_APP_AUTOSTART})

set(preconditions Graphics)

if(PLUGIN_SEARCH_AND_DISCOVERY_APP_STARTUPORDER)
set (startuporder ${PLUGIN_SEARCH_AND_DISCOVERY_APP_STARTUPORDER})
endif()

if(PLUGIN_SEARCH_AND_DISCOVERY_APP_PERSISTENTPATHPOSTFIX)
  set(persistentpathpostfix ${PLUGIN_SEARCH_AND_DISCOVERY_APP_PERSISTENTPATHPOSTFIX})
endif()

map()
    kv(mode ${PLUGIN_SEARCH_AND_DISCOVERY_APP_MODE})
    kv(locator lib${PLUGIN_WEBKITBROWSER_IMPLEMENTATION}.so)
    if(PLUGIN_WEBKITBROWSER_USER)
        kv(user ${PLUGIN_WEBKITBROWSER_USER})
    endif()
    if(PLUGIN_WEBKITBROWSER_GROUP)
        kv(group ${PLUGIN_WEBKITBROWSER_GROUP})
    endif()
end()
ans(rootobject)

map()
    kv(url "about:blank")
    if(PLUGIN_SEARCH_AND_DISCOVERY_APP_USERAGENT)
        semicolon_safe_string(PLUGIN_SEARCH_AND_DISCOVERY_APP_USERAGENT)
        kv(useragent ${PLUGIN_SEARCH_AND_DISCOVERY_APP_USERAGENT})
    endif()
    if(NOT WEBKIT_GLIB_API)
        kv(injectedbundle "libWPEInjectedBundle${CMAKE_SHARED_LIBRARY_SUFFIX}")
    else()
        kv(extensiondir ${PLUGIN_WEBKITBROWSER_EXTENSION_DIRECTORY})
    endif()
    kv(transparent ${PLUGIN_WEBKITBROWSER_TRANSPARENT})
    kv(compositor ${PLUGIN_SEARCH_AND_DISCOVERY_APP_COMPOSITOR})
    kv(inspector ${PLUGIN_SEARCH_AND_DISCOVERY_APP_WEBINSPECTOR_ADDRESS})
    kv(fps true)
    kv(cursor false)
    kv(touch false)
    kv(msebuffers "audio:2m,video:15m,text:1m")
    kv(memoryprofile ${PLUGIN_WEBKITBROWSER_MEMORYPROFILE})
    kv(mediadiskcache ${PLUGIN_WEBKITBROWSER_MEDIADISKCACHE})
    kv(diskcache ${PLUGIN_WEBKITBROWSER_DISKCACHE})
    kv(xhrcache ${PLUGIN_WEBKITBROWSER_XHRCACHE})
    kv(noncompositedwebgl true)
    kv(webgl ${PLUGIN_WEBKITBROWSER_WEBGL})
    kv(threadedpainting ${PLUGIN_WEBKITBROWSER_THREADEDPAINTING})
    if(PLUGIN_SEARCH_AND_DISCOVERY_APP_DISKCACHEDIR)
      kv(diskcachedir ${PLUGIN_SEARCH_AND_DISCOVERY_APP_DISKCACHEDIR})
    endif()
    if(PLUGIN_WEBKITBROWSER_HEIGHT)
        kv(height ${PLUGIN_WEBKITBROWSER_HEIGHT})
    endif()
    if(PLUGIN_WEBKITBROWSER_WIDTH)
        kv(width ${PLUGIN_WEBKITBROWSER_WIDTH})
    endif()
    if(PLUGIN_SEARCH_AND_DISCOVERY_APP_CLIENTIDENTIFIER)
        kv(clientidentifier ${PLUGIN_SEARCH_AND_DISCOVERY_APP_CLIENTIDENTIFIER})
    endif()
    kv(localstorageenabled ${PLUGIN_SEARCH_AND_DISCOVERY_APP_LOCALSTORAGE_ENABLE})
    if(PLUGIN_SEARCH_AND_DISCOVERY_APP_LOCALSTORAGE)
        kv(localstorage ${PLUGIN_SEARCH_AND_DISCOVERY_APP_LOCALSTORAGE})
    endif()
    if(PLUGIN_SEARCH_AND_DISCOVERY_APP_LOCALSTORAGESIZE)
        kv(localstoragesize ${PLUGIN_SEARCH_AND_DISCOVERY_APP_LOCALSTORAGESIZE})
    endif()
    if(PLUGIN_SEARCH_AND_DISCOVERY_APP_COOKIESTORAGE)
        kv(cookiestorage ${PLUGIN_SEARCH_AND_DISCOVERY_APP_COOKIESTORAGE})
    endif()
    if(PLUGIN_SEARCH_AND_DISCOVERY_APP_INDEXEDDB_ENABLE)
        kv(indexeddbenabled ${PLUGIN_SEARCH_AND_DISCOVERY_APP_INDEXEDDB_ENABLE})
    endif()
    if(PLUGIN_SEARCH_AND_DISCOVERY_APP_INDEXEDDB_PATH)
        kv(indexeddbpath ${PLUGIN_SEARCH_AND_DISCOVERY_APP_INDEXEDDB_PATH})
    endif()
    if(PLUGIN_SEARCH_AND_DISCOVERY_APP_INDEXEDDB_SIZE)
        kv(indexeddbsize ${PLUGIN_SEARCH_AND_DISCOVERY_APP_INDEXEDDB_SIZE})
    endif()
    if(PLUGIN_WEBKITBROWSER_CLIENT_CERT AND PLUGIN_WEBKITBROWSER_CLIENT_CERT_KEY)
        kv(clientcert ${PLUGIN_WEBKITBROWSER_CLIENT_CERT})
        kv(clientcertkey ${PLUGIN_WEBKITBROWSER_CLIENT_CERT_KEY})
    endif()
    if(PLUGIN_SEARCH_AND_DISCOVERY_APP_LOGTOSYSTEMCONSOLE)
        kv(logtosystemconsoleenabled ${PLUGIN_SEARCH_AND_DISCOVERY_APP_LOGTOSYSTEMCONSOLE})
    endif()
    if(DEFINED PLUGIN_SEARCH_AND_DISCOVERY_APP_SECURE)
        kv(secure ${PLUGIN_SEARCH_AND_DISCOVERY_APP_SECURE})
    endif()
    kv(watchdogchecktimeoutinseconds 10)
    kv(watchdoghangthresholdtinseconds 60)
end()
ans(configuration)

map_append(${configuration} root ${rootobject})

map()
if(PLUGIN_SEARCH_AND_DISCOVERY_APP_MEMORYPRESSURE_WEBPROCESS_SETTINGS_LIMIT OR (PLUGIN_SEARCH_AND_DISCOVERY_APP_MEMORYPRESSURE_WEBPROCESS_SETTINGS_GPU_LIMIT AND PLUGIN_SEARCH_AND_DISCOVERY_APP_MEMORYPRESSURE_WEBPROCESS_SETTINGS_GPU_FILE) OR PLUGIN_SEARCH_AND_DISCOVERY_APP_MEMORYPRESSURE_WEBPROCESS_SETTINGS_POLLINTERVAL)
    key(webprocesssettings)
    map()
if(PLUGIN_SEARCH_AND_DISCOVERY_APP_MEMORYPRESSURE_WEBPROCESS_SETTINGS_LIMIT)
        kv(limit ${PLUGIN_SEARCH_AND_DISCOVERY_APP_MEMORYPRESSURE_WEBPROCESS_SETTINGS_LIMIT})
endif()
if(PLUGIN_SEARCH_AND_DISCOVERY_APP_MEMORYPRESSURE_WEBPROCESS_SETTINGS_GPU_LIMIT AND PLUGIN_SEARCH_AND_DISCOVERY_APP_MEMORYPRESSURE_WEBPROCESS_SETTINGS_GPU_FILE)
        kv(gpulimit ${PLUGIN_SEARCH_AND_DISCOVERY_APP_MEMORYPRESSURE_WEBPROCESS_SETTINGS_GPU_LIMIT})
        kv(gpufile ${PLUGIN_SEARCH_AND_DISCOVERY_APP_MEMORYPRESSURE_WEBPROCESS_SETTINGS_GPU_FILE})
endif()
if(PLUGIN_SEARCH_AND_DISCOVERY_APP_MEMORYPRESSURE_WEBPROCESS_SETTINGS_POLLINTERVAL)
        kv(pollinterval ${PLUGIN_SEARCH_AND_DISCOVERY_APP_MEMORYPRESSURE_WEBPROCESS_SETTINGS_POLLINTERVAL})
endif()
    end()
endif()

if(PLUGIN_SEARCH_AND_DISCOVERY_APP_MEMORYPRESSURE_NETWORKPROCESS_SETTINGS_LIMIT OR PLUGIN_SEARCH_AND_DISCOVERY_APP_MEMORYPRESSURE_NETWORKPROCESS_SETTINGS_POLLINTERVAL)
    key(networkprocesssettings)
    map()
if(PLUGIN_SEARCH_AND_DISCOVERY_APP_MEMORYPRESSURE_NETWORKPROCESS_SETTINGS_LIMIT)
        kv(limit ${PLUGIN_SEARCH_AND_DISCOVERY_APP_MEMORYPRESSURE_NETWORKPROCESS_SETTINGS_LIMIT})
endif()
if(PLUGIN_SEARCH_AND_DISCOVERY_APP_MEMORYPRESSURE_NETWORKPROCESS_SETTINGS_POLLINTERVAL)
        kv(pollinterval ${PLUGIN_SEARCH_AND_DISCOVERY_APP_MEMORYPRESSURE_NETWORKPROCESS_SETTINGS_POLLINTERVAL})
endif()
    end()
endif()
end()
ans(memory)

map_append(${configuration} memory ${memory})
