set(autostart ${PLUGIN_WEBKITBROWSER_AUTOSTART})
set(resumed ${PLUGIN_WEBKITBROWSER_RESUMED})

if(PLUGIN_WEBKITBROWSER_STARTUPORDER)
set (startuporder ${PLUGIN_WEBKITBROWSER_STARTUPORDER})
endif()

if(PLUGIN_WEBSERVER)
    set(preconditions Graphics WebSource)
else()
    set(preconditions Graphics)
endif(PLUGIN_WEBSERVER)

if(PLUGIN_WEBKITBROWSER_PERSISTENTPATHPOSTFIX)
  set(persistentpathpostfix ${PLUGIN_WEBKITBROWSER_PERSISTENTPATHPOSTFIX})
endif()

map()
    kv(outofprocess true)
    kv(locator lib${PLUGIN_WEBKITBROWSER_IMPLEMENTATION}.so)
    kv(mode "Container")
    if(PLUGIN_WEBKITBROWSER_USER)
        kv(user ${PLUGIN_WEBKITBROWSER_USER})
    endif()
    if(PLUGIN_WEBKITBROWSER_GROUP)
        kv(group ${PLUGIN_WEBKITBROWSER_GROUP})
    endif()
    key(configuration)
    map()
        kv(awc_container "proxy")
    end()
end()
ans(rootobject)

map()
    if(PLUGIN_WEBKITBROWSER_BROWSERVERSION)
        kv(browserversion ${PLUGIN_WEBKITBROWSER_BROWSERVERSION})
    endif()
    kv(url ${PLUGIN_WEBKITBROWSER_STARTURL})
    if(PLUGIN_WEBKITBROWSER_USERAGENT)
        semicolon_safe_string(PLUGIN_WEBKITBROWSER_USERAGENT)
        kv(useragent ${PLUGIN_WEBKITBROWSER_USERAGENT})
    endif()
    if(NOT WEBKIT_GLIB_API)
        kv(injectedbundle "libWPEInjectedBundle${CMAKE_SHARED_LIBRARY_SUFFIX}")
    else()
        kv(extensiondir ${PLUGIN_WEBKITBROWSER_EXTENSION_DIRECTORY})
    endif()
    kv(transparent ${PLUGIN_WEBKITBROWSER_TRANSPARENT})
    kv(compositor "noaa")
    kv(inspector ${PLUGIN_WEBKITBROWSER_WEBINSPECTOR_ADDRESS})
    kv(inspectorport ${PLUGIN_WEBKITBROWSER_WEBINSPECTOR_PORT})
    kv(fps true)
    kv(cursor false)
    kv(touch false)
    kv(msebuffers ${PLUGIN_WEBKITBROWSER_MSEBUFFERS})
    kv(thunderdecryptorpreference ${PLUGIN_WEBKITBROWSER_THUNDER_DECRYPTOR_PREFERENCE})
    kv(memoryprofile ${PLUGIN_WEBKITBROWSER_MEMORYPROFILE})
    kv(mediacontenttypesrequiringhardwaresupport ${PLUGIN_WEBKITBROWSER_MEDIA_CONTENT_TYPES_REQUIRING_HARDWARE_SUPPORT})
    kv(mediadiskcache ${PLUGIN_WEBKITBROWSER_MEDIADISKCACHE})
    if(PLUGIN_WEBKITBROWSER_DISKCACHEDIR)
      kv(diskcachedir ${PLUGIN_WEBKITBROWSER_DISKCACHEDIR})
    endif()
    kv(diskcache ${PLUGIN_WEBKITBROWSER_DISKCACHE})
    kv(xhrcache ${PLUGIN_WEBKITBROWSER_XHRCACHE})
    kv(webgl ${PLUGIN_WEBKITBROWSER_WEBGL})
    kv(threadedpainting ${PLUGIN_WEBKITBROWSER_THREADEDPAINTING})
    kv(gstdebug "3,GST_STATES:3,GST_PIPELINE:4,GST_EVENT:4,GST_BUS:4,webkit*:5,brcm*:5,westerossink*:5")
    kv(webkitdebug "MediaSource,Media,MemoryPressure")
    kv(gstnocolor true)
    if(PLUGIN_WEBKITBROWSER_HEIGHT)
        kv(height ${PLUGIN_WEBKITBROWSER_HEIGHT})
    endif()
    if(PLUGIN_WEBKITBROWSER_WIDTH)
        kv(width ${PLUGIN_WEBKITBROWSER_WIDTH})
    endif()
    if(PLUGIN_WEBKITBROWSER_CLIENTIDENTIFIER)
        kv(clientidentifier ${PLUGIN_WEBKITBROWSER_CLIENTIDENTIFIER})
    endif()
    kv(localstorageenabled ${PLUGIN_WEBKITBROWSER_LOCALSTORAGE_ENABLE})
    if(PLUGIN_WEBKITBROWSER_LOCALSTORAGE)
        kv(localstorage ${PLUGIN_WEBKITBROWSER_LOCALSTORAGE})
    endif()
    if(PLUGIN_WEBKITBROWSER_COOKIESTORAGE)
        kv(cookiestorage ${PLUGIN_WEBKITBROWSER_COOKIESTORAGE})
    endif()
    if(PLUGIN_WEBKITBROWSER_INDEXEDDB_ENABLE)
        kv(indexeddbenabled ${PLUGIN_WEBKITBROWSER_INDEXEDDB_ENABLE})
    endif()
    if(PLUGIN_WEBKITBROWSER_INDEXEDDB_PATH)
        kv(indexeddbpath ${PLUGIN_WEBKITBROWSER_INDEXEDDB_PATH})
    endif()
    if(PLUGIN_WEBKITBROWSER_INDEXEDDB_SIZE)
        kv(indexeddbsize ${PLUGIN_WEBKITBROWSER_INDEXEDDB_SIZE})
    endif()
    if(PLUGIN_WEBKITBROWSER_WINDOWCLOSE)
        kv(windowclose ${PLUGIN_WEBKITBROWSER_WINDOWCLOSE})
    endif()
    if(PLUGIN_WEBKITBROWSER_SUSPEND_ON_WINDOW_CLOSE)
        kv(allowmovetosuspendonwindowclose ${PLUGIN_WEBKITBROWSER_SUSPEND_ON_WINDOW_CLOSE})
    endif()
    if(PLUGIN_WEBKITBROWSER_ALTERNATIVE_EXEC_PATH)
        kv(execpath ${PLUGIN_WEBKITBROWSER_ALTERNATIVE_EXEC_PATH})
    endif()
    if(PLUGIN_WEBKITBROWSER_HTTP_PROXY)
        kv(proxy ${PLUGIN_WEBKITBROWSER_HTTP_PROXY})
    endif()
    if(PLUGIN_WEBKITBROWSER_HTTP_PROXY_EXCLUSION)
        kv(proxyexclusion ${PLUGIN_WEBKITBROWSER_HTTP_PROXY_EXCLUSION})
    endif()
    if(PLUGIN_WEBKITBROWSER_CLIENT_CERT AND PLUGIN_WEBKITBROWSER_CLIENT_CERT_KEY)
        kv(clientcert ${PLUGIN_WEBKITBROWSER_CLIENT_CERT})
        kv(clientcertkey ${PLUGIN_WEBKITBROWSER_CLIENT_CERT_KEY})
    endif()
    if(PLUGIN_WEBKITBROWSER_CLIENT_CERTS_INITIAL_CONF)
        kv(clientcertsinitialconf ${PLUGIN_WEBKITBROWSER_CLIENT_CERTS_INITIAL_CONF})
    endif()
    if(PLUGIN_WEBKITBROWSER_LOGTOSYSTEMCONSOLE)
        kv(logtosystemconsoleenabled ${PLUGIN_WEBKITBROWSER_LOGTOSYSTEMCONSOLE})
    endif()
    if(DEFINED PLUGIN_WEBKITBROWSER_SECURE)
        kv(secure ${PLUGIN_WEBKITBROWSER_SECURE})
    endif()
    kv(watchdogchecktimeoutinseconds 10)
    kv(watchdoghangthresholdtinseconds 60)
    kv(webaudio true)
    kv(mixedcontentwhitelist "[{\"origin\":\"https://*\", \"domain\":[\"ws://127.0.0.1:10415\", \"ws://127.0.0.1:10016\", \"ws://localhost:10415\", \"ws://localhost:10016\", \"http://127.0.0.1:83\", \"http://127.0.0.1:10414\", \"http://localhost:83\", \"http://localhost:10414\"]}, {\"origin\":\"https://*.channel5.com*\", \"domain\":[\"http://*\"]}, {\"origin\":\"https://widgets.metrological.com*\", \"domain\":[\"http://tv.metrological.api.radioline.fr*\"]}]")
end()
ans(configuration)

map_append(${configuration} root ${rootobject})

map()
if(PLUGIN_WEBKITBROWSER_ENABLE_JIT)
    kv(useJIT true)
else()
    kv(useJIT false)
endif()
if(PLUGIN_WEBKITBROWSER_ENABLE_DFG)
    kv(useDFG true)
else()
    kv(useDFG false)
endif()
end()
ans(javascriptsettings)
map_append(${configuration} javascript ${javascriptsettings})

map()
if(PLUGIN_WEBKITBROWSER_MEMORYPRESSURE_WEBPROCESSLIMIT)
    kv(webprocesslimit ${PLUGIN_WEBKITBROWSER_MEMORYPRESSURE_WEBPROCESSLIMIT})
endif()
if(PLUGIN_WEBKITBROWSER_MEMORYPRESSURE_NETWORKPROCESSLIMIT)
    kv(networkprocesslimit ${PLUGIN_WEBKITBROWSER_MEMORYPRESSURE_NETWORKPROCESSLIMIT})
endif()
end()
ans(memory)
map_append(${configuration} memory ${memory})
