set (autostart ${PLUGIN_WEBKITBROWSER_AUTOSTART})
set (resumed true)

if(PLUGIN_WEBSERVER)
set (preconditions Graphics WebSource)
else()
set (preconditions Graphics)
endif(PLUGIN_WEBSERVER)

map()
    kv(outofprocess true)
    if(PLUGIN_WEBKITBROWSER_USER)
        kv(user ${PLUGIN_WEBKITBROWSER_USER})
    endif()
    if(PLUGIN_WEBKITBROWSER_GROUP)
        kv(group ${PLUGIN_WEBKITBROWSER_GROUP})
    endif()
end()
ans(rootobject)

map()
    kv(url ${PLUGIN_WEBKITBROWSER_STARTURL})
    kv(useragent ${PLUGIN_WEBKITBROWSER_USERAGENT})
    kv(transparent ${PLUGIN_WEBKITBROWSER_TRANSPARENT})
    kv(compositor "noaa")
    kv(inspector "0.0.0.0:9998")
    kv(fps true)
    kv(cursor false)
    kv(touch false)
    kv(msebuffers ${PLUGIN_WEBKITBROWSER_MSEBUFFERS})
    kv(memoryprofile ${PLUGIN_WEBKITBROWSER_MEMORYPROFILE})
    kv(memorypressure ${PLUGIN_WEBKITBROWSER_MEMORYPRESSURE})
    kv(mediadiskcache ${PLUGIN_WEBKITBROWSER_MEDIADISKCACHE})
    kv(diskcache ${PLUGIN_WEBKITBROWSER_DISKCACHE})
    kv(xhrcache ${PLUGIN_WEBKITBROWSER_XHRCACHE})
    kv(webgl ${PLUGIN_WEBKITBROWSER_WEBGL})
    kv(threadedpainting ${PLUGIN_WEBKITBROWSER_THREADEDPAINTING})
    kv(height ${PLUGIN_WEBKITBROWSER_HEIGHT})
    kv(width ${PLUGIN_WEBKITBROWSER_WIDTH})
    if(PLUGIN_WEBKITBROWSER_INJECTEBLE_BUNDLE)
        kv(injectedbundle ${PLUGIN_WEBKITBROWSER_INJECTEBLE_BUNDLE})    
    endif()
    if(PLUGIN_WEBKITBROWSER_CLIENTIDENTIFIER)
        kv(clientidentifier ${PLUGIN_WEBKITBROWSER_CLIENTIDENTIFIER})
    endif()
    if(PLUGIN_WEBKITBROWSER_LOCALSTORAGE)
        kv(localstorage ${PLUGIN_WEBKITBROWSER_LOCALSTORAGE})
    endif()
    if(PLUGIN_WEBKITBROWSER_COOKIESTORAGE)
        kv(cookiestorage ${PLUGIN_WEBKITBROWSER_COOKIESTORAGE})
    endif()
    if(PLUGIN_WEBKITBROWSER_WINDOWCLOSE)
        kv(windowclose ${PLUGIN_WEBKITBROWSER_WINDOWCLOSE})
    endif()
end()
ans(configuration)

map_append(${configuration} root ${rootobject})
