set(autostart ${PLUGIN_YOUTUBE_AUTOSTART})

set(preconditions Graphics Internet)

if(PLUGIN_YOUTUBE_STARTUPORDER)
set (startuporder ${PLUGIN_YOUTUBE_STARTUPORDER})
endif()

map()
    kv(mode ${PLUGIN_YOUTUBE_MODE})
    kv(locator lib${PLUGIN_WEBKITBROWSER_IMPLEMENTATION}.so)
    if(PLUGIN_WEBKITBROWSER_USER)
        kv(user ${PLUGIN_WEBKITBROWSER_USER})
    endif()
    if(PLUGIN_WEBKITBROWSER_GROUP)
        kv(group ${PLUGIN_WEBKITBROWSER_GROUP})
    endif()
end()
ans(rootobject)

map()
    kv(url "${PLUGIN_YOUTUBE_STARTURL}${PLUGIN_YOUTUBE_STARTURL_QUERYSTRING}")
    if(PLUGIN_YOUTUBE_USERAGENT)
        semicolon_safe_string(PLUGIN_YOUTUBE_USERAGENT)
        kv(useragent ${PLUGIN_YOUTUBE_USERAGENT})
    endif()
    if(NOT WEBKIT_GLIB_API)
        kv(injectedbundle "libWPEInjectedBundle${CMAKE_SHARED_LIBRARY_SUFFIX}")
    else()
        kv(extensiondir ${PLUGIN_WEBKITBROWSER_EXTENSION_DIRECTORY})
    endif()
    kv(transparent ${PLUGIN_WEBKITBROWSER_TRANSPARENT})
    kv(compositor "noaa")
    kv(inspector ${PLUGIN_YOUTUBE_WEBINSPECTOR_ADDRESS})
    kv(fps true)
    kv(cursor false)
    kv(touch false)
    kv(msebuffers "${PLUGIN_YOUTUBE_MSEBUFFERS}")
    kv(thunderdecryptorpreference ${PLUGIN_WEBKITBROWSER_THUNDER_DECRYPTOR_PREFERENCE})
    kv(memoryprofile ${PLUGIN_WEBKITBROWSER_MEMORYPROFILE})
    kv(mediacontenttypesrequiringhardwaresupport ${PLUGIN_WEBKITBROWSER_MEDIA_CONTENT_TYPES_REQUIRING_HARDWARE_SUPPORT})
    kv(mediadiskcache ${PLUGIN_WEBKITBROWSER_MEDIADISKCACHE})
    kv(diskcache ${PLUGIN_WEBKITBROWSER_DISKCACHE})
    kv(xhrcache ${PLUGIN_WEBKITBROWSER_XHRCACHE})
    kv(webgl ${PLUGIN_YOUTUBE_WEBGL})
    kv(threadedpainting ${PLUGIN_WEBKITBROWSER_THREADEDPAINTING})
    if(PLUGIN_YOUTUBE_HEIGHT)
        kv(height ${PLUGIN_YOUTUBE_HEIGHT})
    endif()
    if(PLUGIN_YOUTUBE_WIDTH)
        kv(width ${PLUGIN_YOUTUBE_WIDTH})
    endif()
    if(PLUGIN_WEBKITBROWSER_CLIENTIDENTIFIER)
        kv(clientidentifier ${PLUGIN_WEBKITBROWSER_CLIENTIDENTIFIER})
    endif()
    kv(localstorageenabled ${PLUGIN_YOUTUBE_LOCALSTORAGE_ENABLE})
    if(PLUGIN_WEBKITBROWSER_LOCALSTORAGE)
        kv(localstorage ${PLUGIN_WEBKITBROWSER_LOCALSTORAGE})
    endif()
    if(PLUGIN_WEBKITBROWSER_COOKIESTORAGE)
        kv(cookiestorage ${PLUGIN_WEBKITBROWSER_COOKIESTORAGE})
    endif()
    if(PLUGIN_WEBKITBROWSER_WINDOWCLOSE)
        kv(windowclose ${PLUGIN_WEBKITBROWSER_WINDOWCLOSE})
    endif()
    if(PLUGIN_WEBKITBROWSER_PTSOFFSET)
        kv(ptsoffset ${PLUGIN_WEBKITBROWSER_PTSOFFSET})
    endif()
    if(PLUGIN_WEBKITBROWSER_ALTERNATIVE_EXEC_PATH)
        kv(execpath ${PLUGIN_WEBKITBROWSER_ALTERNATIVE_EXEC_PATH})
    endif()
    if(PLUGIN_WEBKITBROWSER_HTTP_PROXY)
        kv(proxy ${PLUGIN_WEBKITBROWSER_HTTP_PROXY})
    endif()
    if(PLUGIN_WEBKITBROWSER_HTTP_PROXY_EXCLUSION)
        kv(proxyexclusion ${PLUGIN_WEBKITBROWSER_HTTP_PROXY_EXCLUSION})
    endif()
    if(PLUGIN_WEBKITBROWSER_CLIENT_CERT AND PLUGIN_WEBKITBROWSER_CLIENT_CERT_KEY)
        kv(clientcert ${PLUGIN_WEBKITBROWSER_CLIENT_CERT})
        kv(clientcertkey ${PLUGIN_WEBKITBROWSER_CLIENT_CERT_KEY})
    endif()
    if(PLUGIN_WEBKITBROWSER_G_TLS_CIPHER_PRIORITY)
        kv(cipherpriority ${PLUGIN_WEBKITBROWSER_G_TLS_CIPHER_PRIORITY})
    endif()
    if(PLUGIN_WEBKITBROWSER_LOGTOSYSTEMCONSOLE)
        kv(logtosystemconsoleenabled ${PLUGIN_WEBKITBROWSER_LOGTOSYSTEMCONSOLE})
    endif()
    if(DEFINED PLUGIN_WEBKITBROWSER_SECURE)
        kv(secure ${PLUGIN_WEBKITBROWSER_SECURE})
    endif()
    kv(watchdogchecktimeoutinseconds 10)
    kv(watchdoghangthresholdtinseconds 60)
end()
ans(configuration)

map_append(${configuration} root ${rootobject})

map()
if(PLUGIN_WEBKITBROWSER_ENABLE_JIT)
    kv(useJIT true)
else()
    kv(useJIT false)
endif()
if(PLUGIN_WEBKITBROWSER_ENABLE_DFG)
    kv(useDFG true)
else()
    kv(useDFG false)
endif()
end()
ans(javascriptsettings)
map_append(${configuration} javascript ${javascriptsettings})

map()
if(PLUGIN_YOUTUBE_MEMORYPRESSURE_WEBPROCESS_SETTINGS_LIMIT OR (PLUGIN_YOUTUBE_MEMORYPRESSURE_WEBPROCESS_SETTINGS_GPU_LIMIT AND PLUGIN_YOUTUBE_MEMORYPRESSURE_WEBPROCESS_SETTINGS_GPU_FILE) OR PLUGIN_YOUTUBE_MEMORYPRESSURE_WEBPROCESS_SETTINGS_POLLINTERVAL)
    key(webprocesssettings)
    map()
if(PLUGIN_YOUTUBE_MEMORYPRESSURE_WEBPROCESS_SETTINGS_LIMIT)
        kv(limit ${PLUGIN_YOUTUBE_MEMORYPRESSURE_WEBPROCESS_SETTINGS_LIMIT})
endif()
if(PLUGIN_YOUTUBE_MEMORYPRESSURE_WEBPROCESS_SETTINGS_GPU_LIMIT AND PLUGIN_YOUTUBE_MEMORYPRESSURE_WEBPROCESS_SETTINGS_GPU_FILE)
        kv(gpulimit ${PLUGIN_YOUTUBE_MEMORYPRESSURE_WEBPROCESS_SETTINGS_GPU_LIMIT})
        kv(gpufile ${PLUGIN_YOUTUBE_MEMORYPRESSURE_WEBPROCESS_SETTINGS_GPU_FILE})
endif()
if(PLUGIN_YOUTUBE_MEMORYPRESSURE_WEBPROCESS_SETTINGS_POLLINTERVAL)
        kv(pollinterval ${PLUGIN_YOUTUBE_MEMORYPRESSURE_WEBPROCESS_SETTINGS_POLLINTERVAL})
endif()
    end()
endif()

if(PLUGIN_YOUTUBE_MEMORYPRESSURE_NETWORKPROCESS_SETTINGS_LIMIT OR PLUGIN_YOUTUBE_MEMORYPRESSURE_NETWORKPROCESS_SETTINGS_POLLINTERVAL)
    key(networkprocesssettings)
    map()
if(PLUGIN_YOUTUBE_MEMORYPRESSURE_NETWORKPROCESS_SETTINGS_LIMIT)
        kv(limit ${PLUGIN_YOUTUBE_MEMORYPRESSURE_NETWORKPROCESS_SETTINGS_LIMIT})
endif()
if(PLUGIN_YOUTUBE_MEMORYPRESSURE_NETWORKPROCESS_SETTINGS_POLLINTERVAL)
        kv(pollinterval ${PLUGIN_YOUTUBE_MEMORYPRESSURE_NETWORKPROCESS_SETTINGS_POLLINTERVAL})
endif()
    end()
endif()
end()
ans(memory)

map_append(${configuration} memory ${memory})
