# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# General/ OS-specific
*.swp
._*
.DS_Store
.Spotlight-V100
.Trashes
.vscode
/.vs
/artifacts
*/*.so

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
uninstall.cmake
install_manifest.txt
CTestTestfile.cmake
output/

# generated config files
**/*.generated.json
