set(autostart ${PLUGIN_MIGRATIONPREPARER_AUTOSTART})

if(PLUGIN_MIGRATIONPREPARER_STARTUPORDER)
set (startuporder ${PLUGIN_MIGRATIONPREPARER_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_MIGRATIONPREPARER_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
end()
ans(configuration)