set (autostart ${PLUGIN_SPARK_AUTOSTART})
set (preconditions Internet Graphics)

map()
    kv(url ${PLUGIN_SPARK_STARTURL})
    kv(height ${PLUGIN_SPARK_HEIGHT})
    kv(width ${PLUGIN_SPARK_WIDTH})
end()
ans(configuration)

if (PLUGIN_COMPOSITOR_IMPLEMENTATION AND ${PLUGIN_COMPOSITOR_IMPLEMENTATION} STREQUAL "RPI")
map()
    kv(threads 2)
end()
ans(rootconfig)
map_append(${configuration} root ${rootconfig})
endif ()
