set(autostart ${PLUGIN_DISPLAYINFO_AUTOSTART})
set(preconditions Platform)

map()
    if(PLUGIN_DISPLAYINFO_USE_BEST_MODE)
        kv(useBestMode ${PLUGIN_DISPLAYINFO_USE_BEST_MODE})
    endif()
    if(PLUGIN_DISPLAYINFO_DRM_DEVICE_NAME)
        kv(drmDeviceName ${PLUGIN_DISPLAYINFO_DRM_DEVICE_NAME})
    endif()
    if(PLUGIN_DISPLAYINFO_EDID_FILEPATH)
        kv(drmSubsystemPath ${PLUGIN_DISPLAYINFO_EDID_FILEPATH})
    endif()
    if(PLUGIN_DISPLAYINFO_HDCP_LEVEL_FILEPATH)
        kv(hdcpLevelFilepath ${PLUGIN_DISPLAYINFO_HDCP_LEVEL_FILEPATH})
    endif()
    if(PLUGIN_DISPLAYINFO_HDR_LEVEL_FILEPATH)
        kv(hdrLevelFilepath ${PLUGIN_DISPLAYINFO_HDR_LEVEL_FILEPATH})
    endif()
    if(PLUGIN_DISPLAYINFO_GPU_MEMORY_FILE)
        kv(gpuMemoryFile ${PLUGIN_DISPLAYINFO_GPU_MEMORY_FILE})
    endif()
    if(PLUGIN_DISPLAYINFO_GPU_MEMORY_FREE_PATTERN)
        kv(gpuMemoryFreePattern ${PLUGIN_DISPLAYINFO_GPU_MEMORY_FREE_PATTERN})
    endif()
    if(PLUGIN_DISPLAYINFO_GPU_MEMORY_TOTAL_PATTERN)
        kv(gpuMemoryTotalPattern ${PLUGIN_DISPLAYINFO_GPU_MEMORY_TOTAL_PATTERN})
    endif()
    if(PLUGIN_DISPLAYINFO_GPU_MEMORY_UNIT_MULTIPLIER)
        kv(gpuMemoryUnitMultiplier ${PLUGIN_DISPLAYINFO_GPU_MEMORY_UNIT_MULTIPLIER})
    endif()
    if(PLUGIN_DISPLAYINFO_HDCP_LEVEL)
        kv(hdcplevel ${PLUGIN_DISPLAYINFO_HDCP_LEVEL})
    endif()
    if(PLUGIN_DISPLAYINFO_STARTUPORDER)
        set (startuporder ${PLUGIN_DISPLAYINFO_STARTUPORDER})
    endif()
end()

map()
    key(root)
    map()
        kv(mode ${PLUGIN_DISPLAYINFO_MODE})
    end()
end()

ans(configuration)
