set(PLUGIN_DISPLAYINFO_AUTOSTART true CACHE BOOL "Automatically start DisplayInfo plugin")
set(PLUGIN_DISPLAYINFO_OUTOFPROCESS false CACHE BOOL "Start DisplayInfo plugin in out of process")
set(PLUGIN_DISPLAYINFO_MODE "off" CACHE STRING "Set DisplayInfo plugin mode")

set(autostart ${PLUGIN_DISPLAYINFO_AUTOSTART})
set(preconditions Platform)

map()
    key(root)
    map()
      kv(mode ${PLUGIN_DISPLAYINFO_MODE})
      kv(outofprocess ${PLUGIN_DISPLAYINFO_OUTOFPROCESS})
    end()
end()

ans(configuration)
