set (autostart true)

map()

key(root)
    map()
    kv(mode "Off")
    end()

kv("hdr" true)
kv("atmos" true)
kv("cec" true)
kv("hdcp" hdcp_14)
kv("audio" "___array___;analog;spdif")
kv("video" "___array___;composite;scart_rgb;hdmi")
kv("resolution" "___array___;1080p;1080i;480p;480i")

end()
ans(configuration)
