set(PLUGIN_DEVICEINFO_AUTOSTART true CACHE BOOL "Automatically start DeviceInfo plugin")

set (autostart ${PLUGIN_DEVICEINFO_AUTOSTART})

map()
    kv(deviceproperties /etc/device.properties)
    kv(authserviceconf /etc/authService.conf)
    kv(versionfile /version.txt)
    kv(serialnumberfile /proc/device-tree/serial-number)
    kv(partneridfile /opt/www/authService/partnerId3.dat)
    kv(rfcpartnerid Device.DeviceInfo.X_RDKCENTRAL-COM_Syndication.PartnerId)
    kv(rfcmodelname Device.DeviceInfo.ModelName)
    kv(rfcserialnumber Device.DeviceInfo.SerialNumber)
    kv(defaultaudioport HDMI0)
end()
ans(configuration)
