set(autostart ${PLUGIN_DEVICEINFO_AUTOSTART})

map()
  kv(mode "Off")
end()
ans(rootobject)

map()
    if(PLUGIN_DEVICEINFO_MODELNAME)
      kv(modelName ${PLUGIN_DEVICEINFO_MODELNAME})
    endif()
    if(PLUGIN_DEVICEINFO_MODELYEAR)
      kv(modelYear ${PLUGIN_DEVICEINFO_MODELYEAR})
    endif()
    if(PLUGIN_DEVICEINFO_SYSTEMINTEGRATORNAME)
      kv(systemIntegratorName ${PLUGIN_DEVICEINFO_SYSTEMINTEGRATORNAME})
    endif()
    if(PLUGIN_DEVICEINFO_FRIENDLYNAME)
      kv(friendlyName ${PLUGIN_DEVICEINFO_FRIENDLYNAME})
    endif()
    if(PLUGIN_DEVICEINFO_PLATFORMNAME)
      kv(platformName ${PLUGIN_DEVICEINFO_PLATFORMNAME})
    endif()
end()
ans(configuration)
map_append(${configuration} root ${rootobject})
