set(autostart ${PLUGIN_USERSETTINGS_AUTOSTART})

if(PLUGIN_SYSTEMMODE_STARTUPORDER)
set (startuporder ${PLUGIN_SYSTEMMODE_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_SYSTEMMODE_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
end()
ans(configuration)

