set(autostart true)
set(callsign "org.rdk.NetworkManager")

map()
   key(root)
   map()
      kv(outofprocess true)
      kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
   key(connectivity)
   map()
      kv(endpoint_1 ${PLUGIN_NETWORKMANAGER_CONN_ENDPOINT_1})
      kv(endpoint_2 ${PLUGIN_NETWORKMANAGER_CONN_ENDPOINT_2})
      kv(endpoint_3 ${PLUGIN_NETWORKMANAGER_CONN_ENDPOINT_3})
      kv(endpoint_4 ${PLUGIN_NETWORKMANAGER_CONN_ENDPOINT_4})
      kv(endpoint_5 ${PLUGIN_NETWORKMANAGER_CONN_ENDPOINT_5})
   end()
   key(stun)
   map()
      kv(endpoint, ${PLUGIN_NETWORK_STUN_ENDPOINT})
      kv(port, 19310)
      kv(interval, 30)
   end()
end()
ans(configuration)
