set(autostart true)
set(callsign "org.rdk.NetworkManager")

map()
   key(root)
   map()
      kv(outofprocess true)
      kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
   key(connectivity)
   map()
      kv(endpoint_1 ${PLUGIN_NETWORKMANAGER_CONN_ENDPOINT_1})
      kv(endpoint_2 ${PLUGIN_NETWORKMANAGER_CONN_ENDPOINT_2})
      kv(endpoint_3 ${PLUGIN_NETWORKMANAGER_CONN_ENDPOINT_3})
      kv(endpoint_4 ${PLUGIN_NETWORKMANAGER_CONN_ENDPOINT_4})
      kv(endpoint_5 ${PLUGIN_NETWORKMANAGER_CONN_ENDPOINT_5})
      kv(interval, @PLUGIN_NETWORKMANAGER_CONN_MONITOR_INTERVAL@)
   end()
   key(stun)
   map()
      kv(endpoint, ${PLUGIN_NETWORKMANAGER_STUN_ENDPOINT})
      kv(port, PLUGIN_NETWORKMANAGER_STUN_PORT)
      kv(interval, 30)
   end()
   kv(loglevel, 3)
end()
ans(configuration)
