set (autostart false)
set (preconditions Platform)
set (callsign "org.rdk.Telemetry")

if(PLUGIN_TELEMETRY_STARTUPORDER)
set (startuporder ${PLUGIN_TELEMETRY_STARTUPORDER})
endif()

map()
    kv(t2PersistentFolder ${PLUGIN_T2_PERSISTENT_FOLDER})
    kv(defaultProfilesFile ${PLUGIN_DEFAULT_PROFILES_FILE} )
end()
ans(configuration)
