set (autostart true)
set (preconditions Platform)
set (callsign "org.rdk.Network")

if(PLUGIN_NETWORK_STARTUPORDER)
set (startuporder ${PLUGIN_NETWORK_STARTUPORDER})
endif()
map()
    kv(endpoint_1 ${PLUGIN_NETWORK_CONNECTIVITY_ENDPOINT_1})
    kv(endpoint_2 ${PLUGIN_NETWORK_CONNECTIVITY_ENDPOINT_2})
    kv(endpoint_3 ${PLUGIN_NETWORK_CONNECTIVITY_ENDPOINT_3})
end()

ans(configuration)
