set(callsign "org.rdk.LgiTextToSpeech")
set(preconditions Platform)
set(autostart ${PLUGIN_LGITEXTTOSPEECH_AUTOSTART})

if(PLUGIN_LGITEXTTOSPEECH_STARTUPORDER)
set (startuporder ${PLUGIN_LGITEXTTOSPEECH_STARTUPORDER})
endif()

map()
    kv(mode ${PLUGIN_LGITEXTTOSPEECH_MODE})
end()
ans(rootobject)

map()
    kv(en-US ${PLUGIN_LGITEXTTOSPEECH_VOICE_FOR_EN})
    kv(es-MX ${PLUGIN_LGITEXTTOSPEECH_VOICE_FOR_ES})
    kv(fr-CA ${PLUGIN_LGITEXTTOSPEECH_VOICE_FOR_FR})
    kv(en-GB ${PLUGIN_LGITEXTTOSPEECH_VOICE_FOR_GB})
    kv(de-DE ${PLUGIN_LGITEXTTOSPEECH_VOICE_FOR_DE})
    kv(it-IT ${PLUGIN_LGITEXTTOSPEECH_VOICE_FOR_IT})
end()
ans(voices)

map()
    kv(endpoint ${PLUGIN_LGITEXTTOSPEECH_ENDPOINT})
    kv(secureendpoint ${PLUGIN_LGITEXTTOSPEECH_SECURE_ENDPOINT})
    kv(language ${PLUGIN_LGITEXTTOSPEECH_LANGUAGE})
    kv(volume ${PLUGIN_LGITEXTTOSPEECH_VOLUME})
    kv(rate ${PLUGIN_LGITEXTTOSPEECH_RATE})
end()
ans(configuration)

map_append(${configuration} voices ${voices})
map_append(${configuration} root ${rootobject})
