set (autostart ${PLUGIN_PRIVACY_AUTOSTART})
set (preconditions Platform)
set (callsign "org.rdk.Privacy")

if(PLUGIN_PRIVACY_STARTUPORDER)
set (startuporder ${PLUGIN_PRIVACY_STARTUPORDER})
endif()

map()
    kv(essurl ${PLUGIN_PRIVACY_ESS_URL})
    kv(esssettingsbaseretrybackofftimesec, ${PLUGIN_PRIVACY_ESS_SETTINGS_BASE_RETRY_BACKOFF_TIME_SEC})
    kv(esssettingsretrylimit ${PLUGIN_PRIVACY_ESS_SETTINGS_RETRY_LIMIL})
    kv(esssettingssyncafterbootmaxdelaysec ${PLUGIN_PRIVACY_ESS_SETTINGS_SYNC_AFTER_BOOT_MAX_DELAY_SEC})
    kv(esssettingssyncafterlinchpindelaysec ${PLUGIN_PRIVACY_ESS_SETTINGS_SYNC_AFTER_LINCHPIN_DELAY_SEC})
end()
ans(configuration)

