set(autostart true)
set(preconditions Platform)
set(callsign "org.rdk.CloudStore")

if(PLUGIN_CLOUDSTORE_STARTUPORDER)
set (startuporder ${PLUGIN_CLOUDSTORE_STARTUPORDER})
endif()

map()
    key(root)
    map()
        kv(mode ${PLUGIN_CLOUDSTORE_MODE})
        kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
    end()
    kv(uri ${PLUGIN_CLOUDSTORE_URI})
end()
ans(configuration)
