set(autostart ${PLUGIN_DTV_AUTOSTART})
set(preconditions Platform)

if(PLUGIN_DTV_STARTUPORDER)
set (startuporder ${PLUGIN_DTV_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_DTV_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
   kv(subtitleprocessing ${PLUGIN_DTV_SUBTITLES})
   kv(teletextprocessing ${PLUGIN_DTV_TELETEXT})
end()
ans(configuration)

