set(autostart ${PLUGIN_DTV_AUTOSTART})
set(preconditions Platform)

if(PLUGIN_DTV_STARTUPORDER)
set (startuporder ${PLUGIN_DTV_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_DTV_MODE})
   end()
   kv(subtitleprocessing false)
   kv(teletextprocessing false)
end()
ans(configuration)

