set(autostart ${PLUGIN_DEVICEIDENTIFICATION_AUTOSTART})
set(preconditions Platform)

map()
if(GENERIC_DEVICEIDENTIFIATION)
    if(PLUGIN_DEVICEIDENTIFICATION_INTERFACE_NAME)
        kv(interface ${PLUGIN_DEVICEIDENTIFICATION_INTERFACE_NAME})
    endif()
endif()

    key(root)
    map()
        kv(mode ${PLUGIN_DEVICEIDENTIFICATION_MODE})
    end()
end()

ans(configuration)
