set (autostart true)

map()
end()
ans(configuration)

if(PLUGIN_WEBKITBROWSER)
    map()
        kv(callsign WebKitBrowser)
        kv(memory 5)
        kv(memorylimit ${PLUGIN_WEBKITBROWSER_MEMORYLIMIT})
        kv(operational 1)
        key(restart)
        map()
            kv(window 60)
            kv(limit 3)
        end()
    end()
    ans(WEBKITBROWSER_MONITOR_CONFIG)
    map_append(${configuration} observables ___array___)
    map_append(${configuration} observables ${WEBKITBROWSER_MONITOR_CONFIG})
endif()

if(PLUGIN_WEBKITBROWSER_YOUTUBE)
    map()
        kv(callsign YouTube)
        kv(memory 5)
        kv(memorylimit ${PLUGIN_COBALT_MEMORYLIMIT})
        kv(operational 1)
        key(restart)
        map()
            kv(window 60)
            kv(limit 3)
        end()
    end()
    ans(YOUTUBE_MONITOR_CONFIG)
    map_append(${configuration} observables ___array___)
    map_append(${configuration} observables ${YOUTUBE_MONITOR_CONFIG})
endif()

if(PLUGIN_COBALT)
    map()
        kv(callsign Cobalt)
        kv(memory 5)
        kv(memorylimit ${PLUGIN_YOUTUBE_MEMORYLIMIT})
        kv(operational 1)
        key(restart)
        map()
            kv(window 60)
            kv(limit 3)
        end()
    end()
    ans(COBALT_MONITOR_CONFIG)
    map_append(${configuration} observables ___array___)
    map_append(${configuration} observables ${COBALT_MONITOR_CONFIG})
endif()

if(PLUGIN_WEBKITBROWSER_APPS)
    map()
        kv(callsign Apps)
        kv(memory 5)
        kv(memorylimit ${PLUGIN_APPS_MEMORYLIMIT})
        kv(operational 1)
        key(restart)
        map()
            kv(window 60)
            kv(limit 3)
        end()
    end()
    ans(APPS_MONITOR_CONFIG)
    map_append(${configuration} observables ___array___)
    map_append(${configuration} observables ${APPS_MONITOR_CONFIG})
endif()

if(PLUGIN_WEBKITBROWSER_UX)
    map()
        kv(callsign UX)
        kv(memory 5)
        kv(memorylimit ${PLUGIN_UX_MEMORYLIMIT})
        kv(operational 1)
        key(restart)
        map()
            kv(window 60)
            kv(limit 3)
        end()
    end()
    ans(UX_MONITOR_CONFIG)
    map_append(${configuration} observables ___array___)
    map_append(${configuration} observables ${UX_MONITOR_CONFIG})
endif()

if(PLUGIN_NETFLIX)
    map()
        kv(callsign Netflix)
        kv(memory 5)
        kv(memorylimit ${PLUGIN_NETFLIX_MEMORYLIMIT})
        kv(operational 1)
        key(restart)
        map()
            kv(window 60)
            kv(limit 3)
        end()
    end()
    ans(NETFLIX_MONITOR_CONFIG)
    map_append(${configuration} observables ___array___)
    map_append(${configuration} observables ${NETFLIX_MONITOR_CONFIG})
endif()

if(PLUGIN_OUTOFPROCESS)
    map()
        kv(callsign OutOfProcessPlugin)
        kv(memory 5)
        kv(memorylimit 3000)
        kv(operational 1)
        key(restart)
        map()
            kv(window 60)
            kv(limit 3)
        end()
    end()
    ans(OUTOFPROCESSTEST_MONITOR_CONFIG)
    map_append(${configuration} observables ___array___)
    map_append(${configuration} observables ${OUTOFPROCESSTEST_MONITOR_CONFIG})
endif()

if(PLUGIN_TESTUTILITY)
    map()
        kv(callsign TestUtility)
        kv(memory 5)
        kv(memorylimit 3000)
        kv(operational 1)
        key(restart)
        map()
            kv(window 60)
            kv(limit 3)
        end()
    end()
    ans(TESTUTILITY_MONITOR_CONFIG)
    map_append(${configuration} observables ___array___)
    map_append(${configuration} observables ${TESTUTILITY_MONITOR_CONFIG})
endif()

if(PLUGIN_OPENCDMI)
    map()
        kv(callsign OCDM)
        kv(operational 1)
        key(restart)
        map()
           key(operational)
            map()
                kv(window 60)
                kv(limit 3)
            end()
        end()
    end()
    ans(OPENCDMI_MONITOR_CONFIG)
    map_append(${configuration} observables ___array___)
    map_append(${configuration} observables ${OPENCDMI_MONITOR_CONFIG})
endif()
