set (autostart true)

map()
end()
ans(configuration)

if(PLUGIN_MONITOR_WEBKITBROWSER)
    map()
        kv(callsign WebKitBrowser)
        kv(memory 5)
        kv(memorylimit ${PLUGIN_MONITOR_WEBKITBROWSER_MEMORYLIMIT})
        kv(operational 1)
        key(restart)
        map()
            kv(window 60)
            kv(limit 3)
        end()
    end()
    ans(WEBKITBROWSER_MONITOR_CONFIG)
    map_append(${configuration} observables ___array___)
    map_append(${configuration} observables ${WEBKITBROWSER_MONITOR_CONFIG})
endif()

if(PLUGIN_MONITOR_WEBKITBROWSER_YOUTUBE)
    map()
        kv(callsign YouTube)
        kv(memory 5)
        kv(memorylimit ${PLUGIN_MONITOR_COBALT_MEMORYLIMIT})
        kv(operational 1)
        key(restart)
        map()
            kv(window 60)
            kv(limit 3)
        end()
    end()
    ans(YOUTUBE_MONITOR_CONFIG)
    map_append(${configuration} observables ___array___)
    map_append(${configuration} observables ${YOUTUBE_MONITOR_CONFIG})
endif()

if(PLUGIN_MONITOR_COBALT)
    map()
        kv(callsign Cobalt)
        kv(memory 5)
        kv(memorylimit ${PLUGIN_MONITOR_YOUTUBE_MEMORYLIMIT})
        kv(operational 1)
        key(restart)
        map()
            kv(window 60)
            kv(limit 3)
        end()
    end()
    ans(COBALT_MONITOR_CONFIG)
    map_append(${configuration} observables ___array___)
    map_append(${configuration} observables ${COBALT_MONITOR_CONFIG})
endif()

if(PLUGIN_MONITOR_WEBKITBROWSER_APPS)
    map()
        kv(callsign Apps)
        kv(memory 5)
        kv(memorylimit ${PLUGIN_MONITOR_APPS_MEMORYLIMIT})
        kv(operational 1)
        key(restart)
        map()
            kv(window 60)
            kv(limit 3)
        end()
    end()
    ans(APPS_MONITOR_CONFIG)
    map_append(${configuration} observables ___array___)
    map_append(${configuration} observables ${APPS_MONITOR_CONFIG})
endif()

if(PLUGIN_MONITOR_WEBKITBROWSER_UX)
    map()
        kv(callsign UX)
        kv(memory 5)
        kv(memorylimit ${PLUGIN_MONITOR_UX_MEMORYLIMIT})
        kv(operational 1)
        key(restart)
        map()
            kv(window 60)
            kv(limit 3)
        end()
    end()
    ans(UX_MONITOR_CONFIG)
    map_append(${configuration} observables ___array___)
    map_append(${configuration} observables ${UX_MONITOR_CONFIG})
endif()

if(PLUGIN_MONITOR_NETFLIX)
    map()
        kv(callsign Netflix)
        kv(memory 5)
        kv(memorylimit ${PLUGIN_MONITOR_NETFLIX_MEMORYLIMIT})
        kv(operational 1)
        key(restart)
        map()
            kv(window 60)
            kv(limit 3)
        end()
    end()
    ans(NETFLIX_MONITOR_CONFIG)
    map_append(${configuration} observables ___array___)
    map_append(${configuration} observables ${NETFLIX_MONITOR_CONFIG})
endif()

if(PLUGIN_MONITOR_OUTOFPROCESS)
    map()
        kv(callsign OutOfProcessPlugin)
        kv(memory 5)
        kv(memorylimit 3000)
        kv(operational 1)
        key(restart)
        map()
            kv(window 60)
            kv(limit 3)
        end()
    end()
    ans(OUTOFPROCESSTEST_MONITOR_CONFIG)
    map_append(${configuration} observables ___array___)
    map_append(${configuration} observables ${OUTOFPROCESSTEST_MONITOR_CONFIG})
endif()

if(PLUGIN_MONITOR_TESTUTILITY)
    map()
        kv(callsign TestUtility)
        kv(memory 5)
        kv(memorylimit 3000)
        kv(operational 1)
        key(restart)
        map()
            kv(window 60)
            kv(limit 3)
        end()
    end()
    ans(TESTUTILITY_MONITOR_CONFIG)
    map_append(${configuration} observables ___array___)
    map_append(${configuration} observables ${TESTUTILITY_MONITOR_CONFIG})
endif()

if(PLUGIN_MONITOR_OPENCDMI)
    map()
        kv(callsign OCDM)
        kv(operational 1)
        key(restart)
        map()
            kv(window 60)
            kv(limit 3)
        end()
    end()
    ans(OPENCDMI_MONITOR_CONFIG)
    map_append(${configuration} observables ___array___)
    map_append(${configuration} observables ${OPENCDMI_MONITOR_CONFIG})
endif()

if(PLUGIN_MONITOR_WEBKITBROWSER_RESIDENT_APP)
    map()
        kv(callsign ResidentApp)
        kv(memory 5)
        kv(memorylimit ${PLUGIN_MONITOR_RESIDENT_APP_MEMORYLIMIT})
        kv(operational 1)
        key(restart)
        map()
            kv(window 60)
            kv(limit 3)
        end()
    end()
    ans(RESIDENT_APP_MONITOR_CONFIG)
    map_append(${configuration} observables ___array___)
    map_append(${configuration} observables ${RESIDENT_APP_MONITOR_CONFIG})
endif()
