
#.conf files are files used to configure the parameters and initial settings for some computer programs.

set (autostart false)                              #we are setting autostart condition disable
set (preconditions Platform)                       #
set (callsign "org.rdk.PluginTemplate")		  

#The callsign name was given to an instance of a plugin. One plugin can be instantiated multiple times, but each instance the instance name, callsign, must be unique here we using org.rdk.PluginTemplate 
