set(autostart true)
set(preconditions Platform)
set(callsign "org.rdk.SecureStore")

if(PLUGIN_SECURESTORE_STARTUPORDER)
set (startuporder ${PLUGIN_SECURESTORE_STARTUPORDER})
endif()

map()
    key(root)
    map()
        kv(mode ${PLUGIN_SECURESTORE_MODE})
        kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
    end()
    kv(uri ${PLUGIN_SECURESTORE_URI})
    kv(path ${PLUGIN_SECURESTORE_PATH})
    kv(legacypath ${PLUGIN_SECURESTORE_LEGACYPATH})
    kv(key ${PLUGIN_SECURESTORE_KEY})
    kv(maxsize ${PLUGIN_SECURESTORE_MAXSIZE})
    kv(maxvalue ${PLUGIN_SECURESTORE_MAXVALUE})
    kv(limit ${PLUGIN_SECURESTORE_LIMIT})
end()
ans(configuration)
