set(autostart ${PLUGIN_CRYPTOGRAPHYEXTACCESS_AUTOSTART})

map()
    kv(mode ${PLUGIN_CRYPTOGRAPHYEXTACCESS_MODE})
    if(PLUGIN_CRYPTOGRAPHYEXTACCESS_USER)
        kv(user ${PLUGIN_CRYPTOGRAPHYEXTACCESS_USER})
    endif()
    if(PLUGIN_CRYPTOGRAPHYEXTACCESS_GROUP)
        kv(group ${PLUGIN_CRYPTOGRAPHYEXTACCESS_GROUP})
    endif()
end()
ans(rootobject)
map_append(${configuration} root ${rootobject})
