set(PLUGIN_TRACECONTROL_AUTOSTART ${PLUGIN_TRACECONTROL_AUTOSTART} CACHE BOOL "Automatically start TraceControl plugin")
set(PLUGIN_TRACECONTROL_REMOTE false CACHE BOOL "Remote binding details enabled")
set(PLUGIN_TRACECONTROL_PORT 0 CACHE STRING "PORT address")
set(PLUGIN_TRACECONTROL_BINDING "0.0.0.0" CACHE STRING "Binding IP Address")

set (autostart ${PLUGIN_TRACECONTROL_AUTOSTART})
map()
  if (PLUGIN_TRACECONTROL_CONSOLE)
    kv(console ${PLUGIN_TRACECONTROL_CONSOLE})
  endif()
  if (PLUGIN_TRACECONTROL_SYSLOG)
    kv(syslog ${PLUGIN_TRACECONTROL_SYSLOG})
  endif()

  if (PLUGIN_TRACECONTROL_ABBREVIATED)
    kv(abbreviated ${PLUGIN_TRACECONTROL_ABBREVIATED})
  endif()

  if (PLUGIN_TRACECONTROL_REMOTE)
  key(remote)
  map()
    kv(port ${PLUGIN_TRACECONTROL_PORT})
    kv(binding ${PLUGIN_TRACECONTROL_BINDING})
  end()
  endif()
end()
ans(configuration)
