set(autostart ${PLUGIN_TRACECONTROL_AUTOSTART})
map()
  if(PLUGIN_TRACECONTROL_CONSOLE)
    kv(console ${PLUGIN_TRACECONTROL_CONSOLE})
  endif()
  if(PLUGIN_TRACECONTROL_SYSLOG)
    kv(syslog ${PLUGIN_TRACECONTROL_SYSLOG})
  endif()

  if(PLUGIN_TRACECONTROL_ABBREVIATED)
    kv(abbreviated ${PLUGIN_TRACECONTROL_ABBREVIATED})
  endif()

  if(PLUGIN_TRACECONTROL_REMOTE)
  key(remote)
  map()
    kv(port ${PLUGIN_TRACECONTROL_PORT})
    kv(binding ${PLUGIN_TRACECONTROL_BINDING})
  end()
  endif()

  kv(maxexportconnections ${PLUGIN_TRACECONTROL_MAX_EXPORTCONNECTIONS})
end()
ans(configuration)
