set(autostart ${PLUGIN_LOCATIONSYNC_AUTOSTART})

set(preconditions Network)

if(PLUGIN_LOCATIONSYNC_STARTUPORDER)
set (startuporder ${PLUGIN_LOCATIONSYNC_STARTUPORDER})
endif()

map()
    kv(interval 10)
    kv(retries 20)
    kv(source ${PLUGIN_LOCATIONSYNC_URI})
    if(PLUGIN_LOCATIONSYNC_OVERRIDE_TIMEZONE)
        kv(timezone ${PLUGIN_LOCATIONSYNC_OVERRIDE_TIMEZONE})
    endif()

end()
ans(configuration)
