set (autostart ${PLUGIN_SWITCHBOARD_AUTOSTART})
set (callsign "org.rdk.SwitchBoard")
if(PLUGIN_SWITCHBOARD_STARTUP_ORDER)
    set (startuporder ${PLUGIN_SWITCHBOARD_STARTUP_ORDER})
endif()
map()
    if(PLUGIN_SWITCHBOARD_HOMEURL)
    	kv(homeurl ${PLUGIN_SWITCHBOARD_HOMEURL})
    endif()
    if(PLUGIN_SWITCHBOARD_LOW_MEM_LIMIT)
        kv(lowmem ${PLUGIN_SWITCHBOARD_LOW_MEM_LIMIT})
    endif()
    if(PLUGIN_SWITCHBOARD_CRITICAL_MEM_LIMIT)
        kv(criticalmem ${PLUGIN_SWITCHBOARD_CRITICAL_MEM_LIMIT})
    endif()
end()
ans(configuration)

if(PLUGIN_SBOARD_AMAZON)
    map_append(${configuration} callsigns ___array___ Amazon)
endif()

if(PLUGIN_SBOARD_COBALT)
    map_append(${configuration} callsigns ___array___ Cobalt)
endif()
if(PLUGIN_SBOARD_NETFLIX)
    map_append(${configuration} callsigns ___array___ Netflix)
endif()