set (autostart true)
set (preconditions Platform)
set (callsign "org.rdk.PersistentStore")

if(PLUGIN_PERSISTENTSTORE_STARTUPORDER)
set (startuporder ${PLUGIN_PERSISTENTSTORE_STARTUPORDER})
endif()

if(RDK_SERVICE_L2_TEST)
map()
    kv(path ${PLUGIN_PERSISTENTSTORE_PATH})
    kv(key ${PLUGIN_PERSISTENTSTORE_KEY})
    kv(maxsize 20)
    kv(maxvalue 10)
end()
    ans(configuration)
else ()
map()
    kv(path ${PLUGIN_PERSISTENTSTORE_PATH})
    kv(key ${PLUGIN_PERSISTENTSTORE_KEY})
    kv(maxsize 1000000)
    kv(maxvalue 1000)
end()
    ans(configuration)
endif()
