set (autostart true)
set (preconditions Platform)
set (callsign "org.rdk.PersistentStore")

if(PLUGIN_PERSISTENTSTORE_STARTUPORDER)
set (startuporder ${PLUGIN_PERSISTENTSTORE_STARTUPORDER})
endif()

map()
    kv(mode ${PLUGIN_PERSISTENTSTORE_MODE})
end()
ans(rootobject)

map()
    kv(uri ${PLUGIN_PERSISTENTSTORE_URI})
    kv(path ${PLUGIN_PERSISTENTSTORE_PATH})
    kv(legacypath ${PLUGIN_PERSISTENTSTORE_LEGACYPATH})
    kv(key ${PLUGIN_PERSISTENTSTORE_KEY})
    kv(maxsize ${PLUGIN_PERSISTENTSTORE_MAXSIZE})
    kv(maxvalue ${PLUGIN_PERSISTENTSTORE_MAXVALUE})
    kv(limit ${PLUGIN_PERSISTENTSTORE_LIMIT})
end()
ans(configuration)

map_append(${configuration} root ${rootobject})
