set (autostart true)
set (preconditions Platform)
set (callsign "org.rdk.PersistentStore")

if(PLUGIN_PERSISTENTSTORE_STARTUPORDER)
set (startuporder ${PLUGIN_PERSISTENTSTORE_STARTUPORDER})
endif()

map()
    kv(path ${PLUGIN_PERSISTENTSTORE_PATH})
    kv(key ${PLUGIN_PERSISTENTSTORE_KEY})
    kv(maxsize 1000000)
    kv(maxvalue 3000)
end()
ans(configuration)
