set (autostart false)
set (preconditions Graphics)
set (callsign "org.rdk.JSRuntime")

map()
    kv(outofprocess true)
end()
ans(rootobject)

map()
    if(PLUGIN_NATIVEJS_CLIENTIDENTIFIER)
        kv(clientidentifier ${PLUGIN_NATIVEJS_CLIENTIDENTIFIER})
    endif()
end()
ans(configuration)

map_append(${configuration} root ${rootobject})
