set(autostart ${PLUGIN_USERSETTINGS_AUTOSTART})

if(PLUGIN_USERSETTINGS_STARTUPORDER)
set (startuporder ${PLUGIN_USERSETTINGS_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_USERSETTINGS_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
end()
ans(configuration)

